/* font links  */
.banner-font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 34px;
  font-weight: 900;
  line-height: 150%;
  color: #4E47FF;
}
.heading-font{
    font-family: "Raleway", sans-serif;
}
.normal-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.normal-font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */
.btn-primary {
    background-color: #4E47FF;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    max-height: 48px;
}
.btn-hero {
  background-color: #4E47FF;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    max-width: 174px;
   
}
.primary-color {
    color: #4E47FF;
}
.text-color {
    color: #252432;
}
.text-opacity {
    opacity: 0.5;
}

/* header style */
#header {
    background-image: url(../Assets/Hero-bg.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    width: 100%;
    height: 698px;
}

/* all id styles */
#hero-heading {
    font-size: 65px;
    font-weight: 800;
    color: #252432;
}

/* nav style */
#nav-container {
    width: 100%;
    height: 151px;

}
nav {
    display: flex;
    justify-content: space-between;
    margin: opx 51px;
    align-items: center;
    margin: 0px 150px;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
    align-items: center;   
}

.hero {
    justify-content: center;
    text-align: center;
}

/* See it in Action style */
.action-header {
    font-size: 42px;
    font-weight: bold;
    
}
.action-text {
    font-size: 24px;
    font-weight: 400;
    opacity: .5;
}
.action-image {
    max-width: 403px;
    max-height: 328px;
    border-radius: 48px;
}
.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 145px 150px;

}
.section-header-text {
    margin: 62.5px 623 px 62.5px 0px;
    text-align: left;
}

/* branding section style */
/* ----------------------------------------------- */
.branding-section {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.branding-container {
    background-color: rgba(78, 71, 255, 0.1);
    max-width: 1140px;
    max-height: 306px;
    border-radius: 24px;
    padding: 50px 145px;
    text-align: center;
    margin: 0 auto;

}
.branding-title {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0px;
}
.branding-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.figure {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: 0px;
}
.figure-text {
    font-size: 20px;
    font-weight: 400;
    opacity: .5;
    margin-top: 0px;
    font-family: "Inter", sans-serif;
}

/* Customer Quote review */

.user-say {
    background-color: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.user-say-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 100px 150px;
}
.user-say-title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.user-say-items {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.customer-quote {
    border: none;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.image-star {
    max-width: 24px;
    max-height: 24px;
}
.avatar {
    display: flex;
    align-items: center;
}
.avatar-image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-text {
    margin-left: 10px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}
.user-name {
    font-family: "Body Strong", sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    opacity: .5;
}
.date{
    margin-top: 0px;
    font-family: "Body Strong", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    opacity: .3;
}